
body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(244, 248, 251);
}

.table{
	text-align: left;
}

	.table .user{
		font-weight: normal;
	}

	.table .userIcon{
		border-radius: 2px;
	}

.hideDetails{
	float: right;
    padding-right: 1rem;
    cursor: pointer;
}

.hide{
	display: none;
}

.longText{
	width: 29rem;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.tweetImmage{
	width: 28rem;
    border-radius: 16px;
    padding: 6px;
}

a{
	color: rgba(74, 188, 230, 1);
	text-decoration: none;
}
.likeRetweet{
	    margin-bottom: -8px;
}

.likeRetweetText{
	color: grey;
}

#map {
        height: 100%;
      }
#legend {
        font-family: Arial, sans-serif;
        background: #fff;
        padding: 10px;
        margin: 10px;
        border: 3px solid #000;
      }
 
.red{
	background-color: red;
	margin:3px
}
.legend{
	display: block;
    text-align: center;
}
